* {
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    background-color: #F4EFEB;
    font-size: 16px; 
    height: 100vh;  
    margin: 0 auto;
    
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}
h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #4285f4;
    min-width: 55px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}
input[type='text'] {
    min-width: 55px;
    min-height: 40px;
}
button:hover {
    opacity: 0.8;
}

table,tbody,thead,td {
    border: 1px solid #4285f4;
    border-collapse: collapse;
    padding: 5px 10px;
}
table {
    width: 100%;
}
tbody tr td:nth-child(n+3) {
    text-align: center;
}
