.weather-container, .user-locations{
    width: 50%;
    height: 150px;
    border: 1px solid green;
    overflow-y: auto; 
}
table.table {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: 150px;
    text-align: center;
    border-collapse: collapse;
  }
  table.table td, table.table th {
    border: 0px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.table thead, table.table .btn-go {
    background: #4285F4;
    background: -moz-linear-gradient(top, #71a3f7 0%, #5591f5 66%, #4285F4 100%);
    background: -webkit-linear-gradient(top, #71a3f7 0%, #5591f5 66%, #4285F4 100%);
    background: linear-gradient(to bottom, #71a3f7 0%, #5591f5 66%, #4285F4 100%);
  }
  table.table thead th {
    font-weight: bold;
    color: #FFFFFF;
  }
  table.table tfoot td {
    font-size: 0.875rem;
  }
  table.table tr:hover{
    transition: .3s;
    background-color: rgb(181, 228, 243);
  }
  table.table tbody {
    overflow: auto;
  }
  table .btn-del {
    background: #f44242;
    background: -moz-linear-gradient(top, #f77171 0%, #f55555 66%, #f44242 100%);
    background: -webkit-linear-gradient(top, #f77171 0%, #f55555 66%, #f44242 100%);
    background: linear-gradient(to bottom, #f77171 0%, #f55555 66%, #f44242 100%);
  }
  table button img {
    width: 15px;
    pointer-events: none;
  }
