/* Phone */

@media screen and (max-width: 720px) {
    .details {
        flex-direction: column-reverse;
    }
    .user-locations, .weather-container {
        width: 100%;
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.875rem;
    }
    header {
        flex-direction: column;
    }
    .search-form {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .btn-search-loc {
        display: none;
    }
    .log-bar {
        flex-direction: column;
    }
    .controler {
        display: flex;
    }
    #map {
        height: 200px !important;
    }
    .table *{
        font-size: 0.875rem;
    }
}